<div class="container">
    <div><i class="fa-solid fa-location-dot icon-color"></i> {{ address }}</div>
    <div><i class="fa-solid fa-envelope icon-color"></i> {{ email }}</div>
    <div><i class="fa-solid fa-phone icon-color"></i> {{ phone }}</div>
    <div class="social-icons">
        <a href="https://facebook.com" target="_blank" aria-label="Facebook">
            <i class="fa-brands fa-facebook"></i> </a>
        <a href="https://twitter.com" target="_blank" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://instagram.com" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram "></i>
        </a>
    </div>
</div>